@model WebApplication5.Models.Question

@{
    ViewBag.Title = "Details";
}
	<head>
		<link rel="stylesheet" href="@Url.Content("~/Content/mystyle.css")" />

	</head>
<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.qText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.op4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.op4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ans)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.qId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
