@model IEnumerable<WebApplication5.Models.Course>
@{
	ViewBag.Title = "ViewSubs";
}

<h2>Subscribed Courses</h2><br />
<head>
	<link rel="stylesheet" href="@Url.Content("~/Content/mystyle.css")" />

</head>
<table class="table">
	<tr>
		<th>Title</th>
		<th>Category</th>
		<th>Actions to perform</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Category)
			</td>
			<td>
				@Html.ActionLink("Go for a Test", "Index", "Tests", new { id = item.courseId }, null)&nbsp;&nbsp;&nbsp;&nbsp;
				@Html.ActionLink("View Test", "Index", "Tests", null, null)&nbsp;&nbsp;&nbsp;&nbsp;
				@Html.ActionLink("View Files", "ViewVideo", "FileUpload", new { id = item.courseId }, null)&nbsp;&nbsp;&nbsp;&nbsp;
				@Html.ActionLink("View Videoes", "ViewVideo", "Video", new { id = item.courseId }, null)&nbsp;&nbsp;&nbsp;&nbsp;
				@Html.ActionLink("UnSubscribe", "Unsub", "Courses", new { id = item.courseId }, null)&nbsp;&nbsp;&nbsp;&nbsp;

			</td>
		</tr>

	}
</table>